<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/index.css">
</head>

<body>
    <div class="container">
        <% if(error && error.length>0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
                    <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <% } %>
                <% if(success && success.length>0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <% } %>
                    </div>
    </div>
    <br/>
    <br/>
    <br/>    
    <div align="center">
    <div class="container">
    <form action="/main/<%= user._id %>?_method=PUT" method="POST" style="border:none 1px gray;padding:20px;background: #3E5151; /* fallback for old browsers */ background: -webkit-linear-gradient(to
    right, #DECBA4, #3E5151); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to right, #DECBA4, #3E5151);width:400px">
        <div class="form-group">
            <div class="input-group">
                Username:<input type="text" name="username" value="<%= user.username %>" class="form-control"> 
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">      
                Roll no:<input type="number" name="roll_no" value="<%= user.roll_no %>" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                City:<input type="text" name="city" value="<%= user.city %>" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                Phone no:<input type="number" name="phone_no" value="<%= user.phone_no %>" class="form-control">
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>
    </div>
    </div>
</body>

</html>
